.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.admin-button{
  display: flex;
  justify-content: center;
}
.container > form {
  width: 70%;
  border: 1px solid;
  /* border: 1px solid #BBC3A4; */
  padding: 20px;
  border-radius: 5px;
  /* background: #BBC3A4; */

 
}
.form-floating {
  position: relative;
}

.form-floating input {
  border: none;
  border-bottom: 1px solid #ced4da;
  padding: .375rem .75rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  color: rgb(16, 16, 16);
  padding: 0px 20px;
  border: 1px solid black;
  
  }
  
  .navbar-logo {
  font-size: 1.5rem;
padding-right: 500px;
  }
  
  .navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }
  
  .navbar-links a {
  color: rgba(17, 16, 16, 0.9);
  text-decoration: none;
  padding-left: 50px;
  margin-right: 20px; /* Adjust spacing between links */
  }
  .glyphicon{
    font-size: 15px;
    margin-right: 5px;
  }
  @media (max-width: 768px) {
  .navbar-links {
  display: none;
  }
  }
  
  @media (max-width: 768px) {
  .navbar {
  flex-direction: row-reverse;
  }
  
  .navbar-toggle {
  order: -1;
  }
  }


.form-floating label {
  position: absolute;
  top: 0;
  left: 0;
  padding: .375rem .75rem;
  color: #495057;
  pointer-events: none;
  transition: all 0.3s;
}

.form-floating input:focus~label
{
  transform: translateY(-120%) scale(0.8);
  color: #007bff;
}
